/************
 * Slide css
 */
#tab_slide {
	color:  #fff;
	font-family: inherit;
	font-size: 14px;
	top: 15%;
	position:fixed;
	z-index: 2147483647;
}

.tab_slide_corners_left {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.tab_slide_corners_right {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
#tab_slide_include {
	padding: 30px 20px 20px 20px;
}
#tab_slide_background {
	background: #007d9e;

        	box-shadow: 1px 1px 2px #fff;

	height:100%;
	opacity: 1;
	position:absolute;
	top: 0;
	width:100%;
	z-index:-1;
}
/**********************
 * Custom toggle class
 */
.make_it_slide {
	/* custom class you can use to toggle the slide */
}
/******************
 * Default tab css
 */
#tab_toggle {
}
#tab_toggle:hover {
	cursor: pointer;
}
#tab_toggle_bg:hover {
	cursor: pointer;
}
/*****************
 * Text based tab
 */
.tab_text_bg {
	background-color:#FFF;
	height: 284px;
	overflow: hidden;
	position: absolute;
	top: 38%;
	width: 29px;
}
.tab_text_bg:hover {
  box-shadow:-1px 2px 2px #000000;
}
#tab_title_wrap {
	background-color: #FFF;
	color: #fff;
	display:block;
	font-family: inherit;
	font-size: 14px;
	font-weight:bold;
	letter-spacing: 1px;
	margin-left: 1px;
	overflow: visible;
	position: relative;
	-webkit-transform: rotate(90deg);  /* Saf3.1+, Chrome */
	    -moz-transform: rotate(90deg);  /* FF3.5+ */
	       -o-transform: rotate(90deg);  /* Opera 10.5 */
	         zoom: 1;
}
/****************************************
 * Adjust the text offset for open/close
 */
.open_letter_reset {
	margin-top: px;
	opacity: 1;
}
.close_letter_reset {
	margin-top: 10px;
}
.tab_text_left {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
        	box-shadow: -1px 1px 1px #fff;
	left: -29px;
}
.tab_text_right {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	        	box-shadow: 1px 1px 1px #fff;
	right: -29px;
}
/* IE Offsets */
.newline {
	display: block;
	line-height: 0.7em;
	margin-left: 3px;
	margin-bottom: 1px;
}
/******************
 * Image based tab
 */
.closed_action {
	background-image: url('assets/images/close.gif') !important;
	background-size: 12px 12px;
	background-repeat: no-repeat;
	height: 12px;
	margin-top: 7px;
	position: static;
	width: 12px;
}
 .open_action {
	/*background: url('http://www.apollodhaka.com/wp-content/uploads/2017/12/Ask-Apollo-Hospitals-Dhaka.jpg');*/
	background-repeat: no-repeat;
	height: 284px;
	position: fixed;
	top:38%!important;
	width:29px;
}
.reset_right  {
	right: 0;
}
.reset_left  {
	left: 0;
}
.float_left  {
	float: left;
	margin-left: 7px;
}
.float_right  {
	float: right;
	margin-right: 7px;
}
