<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.heartbeat">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/heart"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/heartt"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DocActivity" />
        <activity android:name=".PatientActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".EcgActivity" />
        <activity android:name=".PulseActivity" />
        <activity android:name=".PpatientActivity" />
        <activity android:name=".EcontactActivity" />
        <activity android:name=".DprofileActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".BtemperatureActivity" />
        <activity android:name=".MmovementActivity" />
        <activity android:name=".DiscussionActivity"></activity>
    </application>

</manifest>